.burro {
    width: 30%;
    transition: 0.3s;
}

.burro:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.burro h5, .burro p {
    margin: 0;
}

.icono-burro {
    width: 100%;
    height: 200px;
}

.carrito {
    width: 40px;
    background-color: #FF3F33;
    padding: 5px;
    border-radius: 5px;
}

.carrito:hover {
    cursor: pointer;
}