.modal-add {
    position: fixed;
    width: 40%;
    z-index: 3;
    background-color: white;
    border-radius: 10px;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.btn-cerrar-modal {
    position: absolute;
    width: 30px;
    top: 25px;
    right: 25px;
}

.btn-cerrar-modal:hover {
    cursor: pointer;
}