.oscuridad {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2;
    display: none;
    position: fixed;
}

.oscuridad-abierta {
    display: block;
}
